<h2>Change password</h2>
<!-- app/views/registrations/edit_password.html.erb -->
<%= form_for(@user, url: update_password_by_admin_user_path(@user), method: :patch) do |f| %>
  <!-- ... formularz edycji hasła ... -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", readonly: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Update Password" %>
  </div>
<% end %>

