<h1>Logs for <%= @user.email %></h1>

<ul>
 <% @versions.each do |version| %>
  <% log = version.reify %>
    <li>
      <%= log.first_name %> <%= log.last_name %> <%= log.is_admin %> <%= log.login_status %> <%= log.created_at %>
    </li>
  <% end %>
  Aktualny set
    <li>
      <%= current_user.first_name %> <%= current_user.last_name %> <%= current_user.is_admin %> <%= current_user.login_status %> <%= current_user.created_at %>
    </li>
</ul>

